
@media screen and (min-width:480px) and (max-width:959px){


/*HAUT DE PAGE*/

#presentation{
    width: 80%;
}

nav{
    width: 100%;
}

.menu{
    width: 100%;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 12pt;

}

#logo{
    margin-left: 20px;
}

a{
    min-width: 20px;
}



/*TEAM*/

.grid-team{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}


/*PORTFOLIO*/

.grid-portfolio{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 460px;
}

.img-conteneur1, .img-conteneur2, .img-conteneur3, .img-conteneur4{
    padding: 0 0 50px 0;
}

.img-conteneur3{
    border-left: none;
    padding-left: 0;
}

.img-conteneur3 .ombre{
    margin-left: 0;
}


/*FORMULAIRE*/

input{
    width: 80%;
}

textarea{
    width: 80%;
}


/*BAS DE PAGE*/

footer{
    width: 100%;
}

#footer{
    display: grid;
    margin-left: 20px;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}

#copyright{
    text-align: left;
    grid-column: 1 / span 4;
}

}







@media screen and (max-width:479px){

  /*HAUT DE PAGE*/

h1{
    font-size: 50pt;
}

#presentation{
    width: 80%;
}

nav{
    height: 200px;
    padding-top: 20px;
}

.menu{
    width: 100%;
    row-gap: 10px;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 12pt;

}

#logo{
    margin-left: auto;
    margin-right: auto;
}

a{
    min-width: 20px;
}


/*TEAM*/

.grid-team{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}




/*PORTFOLIO*/

.grid-portfolio{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 460px;
}

.img-conteneur1, .img-conteneur2, .img-conteneur3, .img-conteneur4{
    padding: 0 0 50px 0;
}

.img-conteneur3{
    border-left: none;
    padding-left: 0;
}

.img-conteneur3 .ombre{
    margin-left: 0;
}


/*FORMULAIRE*/

input{
    width: 80%;

}

textarea{
    width: 80%;

}



/*BAS DE PAGE*/

footer{
    width: 100%;
}

#footer{
    display: grid;
    margin-left: 20px;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}

#copyright{
    text-align: left;
    grid-column: 1 / span 4;
}

.social{
    width: 30px;
}

}